
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    box-sizing: border-box;
}

body{
    background-color: #FB6B6B;
}
.root{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.main{
    position: absolut;
    height: 100vh;
    width: 86vw;
    max-width: 600px;

}
.home{
    position: fixed;
    flex-direction: column;
    left: 0;
    display:block;
    width: 100%;
    height: 100vh;
    z-index: 1;
    justify-content: center;
    background-color: #FB6B6B;
}
.home .content{
    position: fixed;
    flex-direction: column;
    left: calc(50% - 300px);
    display:block;
    width: 100%;
    height: 100vh;
    z-index: 1;
    max-width: 600px;
    background-color: #FB6B6B;
}
.home img{
    position: relative;
    margin-top: 25%;
    width: 15%;
    height:10%;
    left: 45%;
    /* width: 75px;
    height: 85px;
    left: calc(50% - 28px); */
}
.home p{
    position: relative;
    width: 80%;
    height:50px;
    margin-top: 5%;;
    left: 10%;
    font-family: 'Righteous';
    font-weight: 700;
    font-size: 50px;
    color: white;
    text-align: center;
    
}
.home button{
    position: relative;
    left: 20%;
    width:60%;
    height: 6vh;
    margin-top:50%;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #D70900;
}
.first{
    position: absolute;
    top: 0;
    width:85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 0;
    max-width: 600px;
    
}
.first .logo{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top:5vh;
    
}
.first .logo h1{
    width:50%;
    text-align: center;
    font-family: 'Righteous';
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}
.first .cards{
    width: 100%;
    position: relative;
    margin-top: 25%;
    margin-bottom: 10vh;
}
.first .cards .card{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 20px;
}
.first .cards .card img{
    position: absolute;
    bottom:3px;
    right: 3px;
    width: 20px;
    height: 20px;
}
.first .cards .fit{
    height: 75px;
    align-items: center;
    background-color: #FFFFFF;
}
.first .cards .show{
    position: relative;
    min-height: 100px;
    background-color: #FFFFD4;
    padding: 10px;
}
.first .cards .show button{
    border-radius: 10px;
    width: calc(90% / 3);
    height: 40px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    padding: 3px;
}
.first .cards .show .answer{
    width:100%;
    height:80%;
    margin-bottom: 20px;
    
    }
.btnRed{
    background-color: #FF3030;
}
.btnOrange{
    background-color: #FF922E;
}
.btnGreen{
    background-color: #2FBE34;
}
.fail{
    text-decoration: line-through;
    color: #FF3030;
}
.almost{
    text-decoration: line-through;
    color: #FF922E;
}
.zap{
    text-decoration: line-through;
    color: #2FBE34;
}
footer{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    bottom: 0vh;
    left:0;
    height:10%;
    width: 100vw;
    background-color: #FFFFFF;
}
footer .score{
    width: 100vw;
    height:60%;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: center;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 25px;
    color: #333333;

}
footer .icons, .finish .icons{
    width: 100%;
    text-align: center;
}
footer .icons ul li, .finish .icons ul li{
    display: inline-block;
    padding-right: 4px;
    font-size: 30px;
}
.finish{
    position: fixed;
    bottom: 0vh;
    left:0;
    height:20%;
    width: 100vw;
    text-align: center;
    background-color: #FFFFFF;
}
.finish p{
    width:70%;
    font-family: 'Recursive';
    font-weight: 400;
    font-size:20px;
    margin-left: 15vw;
    margin-top: 25px;
}

.finish .title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    font-size: 27px;
    font-family: 'Recursive';
    font-weight: 700;
    color: #333333;
}
.finish .title img{
    margin-right: 10px;
    width:30px;
}
.hidden{
    display: none;
}
@media (max-width: 600px) {
    .home p{
        position: relative;
        left: 9.5%;
        font-size: 40px;
    }
    .first .cards{
        width: 100%;
        position: relative;
        margin-top: 25%;
        margin-bottom: 10vh;
    }
    .home .content{
        left: 0;
    }    
}